<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/homepage.css">

</head>
<body>
    <header>
        <li><a link href='/'>Home </a></li>

        <li><a link href='/search'>Search Users</a></li>
        {% if name%}
        <li><a link href='/account'>Account</a></li>
        {% else %}
        <li><a link href='/login'>Login</a></li>
        {% endif %}
        <li><a link href='/signup'>Sign up!</a></li>
    </header>    
    <main>

    <h3>Would you like to update your password?</h3>
    <form method="post" action="/updatepassword">
    <input type="text" name="password">
    <input type="submit">Update password:</input>
    </form>


    <h3>Would you like to delete your account</h3>
    <form method="post" action="/deleteaccount"><button type="submit">Delete Account</button></form> 

    </main>


</body>
</html>