<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leo Chat</title>
    <link rel="stylesheet" type="text/css" href="/static/homepage.css">
</head>
<body>
    <header>
        <h1> Leo's Chat room</h1>
        <div>
            <img src="https://www.freepnglogos.com/uploads/hello-kitty-png/hello-kitty-borders-images-and-backgrounds-2.png">
        </div>
        <nav>
            <ul>
                <li><a link href='/search'>Search Users</a></li>
                {% if name%}
                <li><a link href='/account'>Account</a></li>
                {% else %}
                <li><a link href='/login'>Login</a></li>
                {% endif %}

                <li><a link href='/signup'>Sign up!</a></li>
                <li><a link href='/logout'>Logout</a></li>

            </ul>
        </nav>
    </header>
    {% if name %}
    <h5>welcome back</h5>
    <h5>{{ name }} </h5>  
    {% endif %}     
    
</body>
</html>